<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 4 Automation</title>
</head>
<body>
    <h1>Welcome to Network Automation Lab 4</h1>
    <ul>
        <li><a href="/getconfig">Get Config</a></li>
        <li><a href="/ospfconfig">Configure OSPF</a></li>
        <li><a href="/diffconfig">Compare Configs</a></li>
        <li><a href="/migration">Migration R4</a></li>
    </ul>
</body>
</html>

